extends layout.pug

block title
	+title('Big Board')

block content
	div.row
		div.col-12.pb-3
			ul.nav.justify-content-center
				if dateFormat(yesterday, 'yyyy-mm-dd') >= '2018-03-29'
					li.nav-item
						a.nav-link(href='/schedule/' + dateFormat(yesterday, 'yyyy-mm-dd'))
							span.d-none.d-sm-inline #{dateFormat(yesterday, 'mmmm dS')}
							span.d-sm-none #{dateFormat(yesterday, 'm/d')}
				li.nav-item
					a.nav-link.disabled(href='/schedule/' + dateFormat(today, 'yyyy-mm-dd'))
						span.d-none.d-sm-inline #{dateFormat(today, 'mmmm dS')}
						span.d-sm-none #{dateFormat(today, 'm/d')}
				if dateFormat(tomorrow, 'yyyy-mm-dd') <= '2018-09-30'
					li.nav-item
						a.nav-link(href='/schedule/' + dateFormat(tomorrow, 'yyyy-mm-dd'))
							span.d-none.d-sm-inline #{dateFormat(tomorrow, 'mmmm dS')}
							span.d-sm-none #{dateFormat(tomorrow, 'm/d')}

		each game in games
			div.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-4(id='game-' + game._id)
				h6.game-status
					a(href='https://www.mlb.com/gameday/' + game._id)
						if !game.hasStarted()
							| #{dateFormat(game.startTime, 'h:MMtt')} ET
						else if game.isFinal()
							| Final
						else
							| #{game.inning.state} of the #{game.inning.ordinal}

				if game.hasStarted()
					div.live-game
						-
							var picksClass = 'text-muted';

							if (game.isFinal()) {
								if (game.away.score > game.home.score) {
									picksClass = 'text-success';
								}
								else if (game.home.score > game.away.score) {
									picksClass = 'text-danger';
								}
							}

						div.row
							h5.col-4.col-sm-6.col-md-9.mb-0 #{game.away.team.teamName}
							h5.col-2.col-sm-3.col-md-3.text-right.mb-0 #{game.away.score}
						div.row.mb-1
							div.picks.col-6.col-sm-9.col-md-12(class=picksClass)
								if game.away.picks
									each pick in game.away.picks
										| #{pick.displayName}
										|

						-
							var picksClass = 'text-muted';

							if (game.isFinal()) {
								if (game.home.score > game.away.score) {
									picksClass = 'text-success';
								}
								else if (game.away.score > game.home.score) {
									picksClass = 'text-danger';
								}
							}

						div.row
							h5.col-4.col-sm-6.col-md-9.mb-0 #{game.home.team.teamName}
							h5.col-2.col-sm-3.col-md-3.text-right.mb-0 #{game.home.score}
						div.row
							div.picks.col-6.col-sm-9.col-md-12(class=picksClass)
								if game.home.picks
									each pick in game.home.picks
										| #{pick.displayName}
										|

				else if !game.hasStarted()
					div.team.pb-2(id='team-' + game.away.team._id class=game.away.picked ? 'picked': 'unpicked')
						+teamButtons(session, game, game.away.team, game.away.probablePitcher)
					div.team.pb-2(id='team-' + game.home.team._id class=game.home.picked ? 'picked': 'unpicked')
						+teamButtons(session, game, game.home.team, game.home.probablePitcher)
