extends layout.pug

block title
	+title('Big Board')

block content
	div.row
		div.col-12.pb-3
			ul.nav.justify-content-center
				li.nav-item
					a.nav-link(href='/schedule/' + dateFormat(yesterday, 'yyyy-mm-dd'))
						span.d-none.d-sm-inline #{dateFormat(yesterday, 'mmmm dS')}
						span.d-sm-none #{dateFormat(yesterday, 'm/d')}
				li.nav-item
					a.nav-link.disabled(href='/schedule/' + dateFormat(today, 'yyyy-mm-dd'))
						span.d-none.d-sm-inline #{dateFormat(today, 'mmmm dS')}
						span.d-sm-none #{dateFormat(today, 'm/d')}
				li.nav-item
					a.nav-link(href='/schedule/' + dateFormat(tomorrow, 'yyyy-mm-dd'))
						span.d-none.d-sm-inline #{dateFormat(tomorrow, 'mmmm dS')}
						span.d-sm-none #{dateFormat(tomorrow, 'm/d')}

		each game in games
			div.col-xs-12.col-sm-6.col-md-3.mb-4
				h6.game-status.text-muted
					if !game.hasStarted()
						| #{dateFormat(game.startTime, 'h:MMtt')} ET
					else if game.isFinal()
						| Final
					else
						| Live

				if game.hasStarted()
					h5
						| #{game.away.team.teamName}
						if game.hasStarted()
							|
							| #{game.away.score}
					h5
						| #{game.home.team.teamName}
						if game.hasStarted()
							|
							| #{game.home.score}
				else if !game.hasStarted()
					if session
						+teamButton(game, game.away.team)
						+teamButton(game, game.home.team)
					else
						h5 #{game.away.team.teamName}
						h5 #{game.home.team.teamName}
