mixin title(title)
	if title
		title #{title} &laquo; Summer Classics &laquo; Coinflipper
	else
		title Summer Classics &laquo; Coinflipper

mixin teamButton(game, team)
	if game.classic && game.classic.team._id == team._id
		a.btn.btn-outline-success(href='/unpick/' + team._id + '/' + game._id)
			| #{team.teamName}
			|
			span.record
				+record(team.classic)
	else
		a.btn.btn-outline-secondary(href='/pick/' + team._id + '/' + game._id)
			| #{team.teamName}
			|
			span.record
				+record(team.classic)

mixin record(classic)
	if classic
		| (#{classic.record.wins}-#{classic.record.losses})
	else
		| (0-0)
