mixin title(title)
	if title
		title #{title} &laquo; Summer Classics &laquo; Coinflipper
	else
		title Summer Classics &laquo; Coinflipper

mixin teamButtons(session, game, team, pitcher)
	-
		var buttons = [
			{
				actionLink: '/pick/' + team._id + '/' + game._id,
				buttonClass: ['btn-outline-secondary', 'pick']
			},
			{
				actionLink: '/unpick/' + team._id + '/' + game._id,
				buttonClass: ['btn-outline-success', 'unpick']
			}
		];

	each button in buttons
		-
			if (!team.classic || team.classic.isFinal() || game.hasStarted()) {
				button.buttonClass.push('disabled');
			}

		a.team-button.text-left.btn.btn-block.col-xs-12.m-0(href=button.actionLink class=button.buttonClass)
			| #{team.teamName}
			if session
				|
				|
				span.record
					+record(team.classic)
			br
			span.pitcher
				+pitcher(pitcher)

mixin pitcher(pitcher)
	if pitcher
		| #{pitcher.name}
	else
		| TBD

mixin record(classic)
	if classic
		| (#{classic.record.wins}-#{classic.record.losses})
	else
		| (0-0)
