mixin title(title)
	if title
		title #{title} &laquo; Summer Classics &laquo; Coinflipper
	else
		title Summer Classics &laquo; Coinflipper

mixin teamButton(game, team)
	- var buttonClass = '';
	- var actionLink = ''
	if game.classic && game.classic.team._id == team._id
		- buttonClass = 'btn-outline-success';
		- actionLink = '/unpick/' + team._id + '/' + game._id;
	else
		- buttonClass = 'btn-outline-secondary';
		- actionLink = '/pick/' + team._id + '/' + game._id;

	a.btn.btn-outline-secondary.btn-block.col-xs-12(href=actionLink class=buttonClass)
		| #{team.teamName}
		|
		span.record
			+record(team.classic)

mixin record(classic)
	if classic
		| (#{classic.record.wins}-#{classic.record.losses})
	else
		| (0-0)
