extends layout.pug

block title
	+title('Postseason Report')

block content
	table.table.table-sm.table-responsive#report
		thead
			tr.sticky-top
				th.sticky-left: br
				th.text-right Overall
				th.text-right Velocity
				th.text-right 1-Run
				each monthId in Object.keys(reportData.monthMap)
					th.text-right #{reportData.monthMap[monthId]}
				each team in reportData.teams
					th.text-nowrap.text-right vs. #{team.abbreviation}

		tbody
			each user in reportData.users
				tr
					th.text-right.sticky-left #{user.displayName}
					td.text-right #{reportData[user.username].overall.wins}-#{reportData[user.username].overall.losses}
					td.text-right #{((reportData[user.username].overall.wins + reportData[user.username].overall.losses) / reportData[user.username].pickDates.length).toFixed(2)}
					td.text-right #{reportData[user.username].oneRun.wins}-#{reportData[user.username].oneRun.losses}
					each monthId in Object.keys(reportData.monthMap)
						td.text-right #{reportData[user.username].months[monthId].wins}-#{reportData[user.username].months[monthId].losses}
					each team in reportData.teams
						td.text-right #{reportData[user.username].pickedAgainst[team.abbreviation].wins}-#{reportData[user.username].pickedAgainst[team.abbreviation].losses}

		tfoot
			tr.sticky-bottom
				th.text-right.sticky-left Total
				td.text-right #{reportData.total.overall.wins}-#{reportData.total.overall.losses}
				td.text-right #{((reportData.total.overall.wins + reportData.total.overall.losses) / reportData.total.pickDates.length).toFixed(2)}
				td.text-right #{reportData.total.oneRun.wins}-#{reportData.total.oneRun.losses}
				each monthId in Object.keys(reportData.monthMap)
					td.text-right #{reportData.total.months[monthId].wins}-#{reportData.total.months[monthId].losses}
				each team in reportData.teams
					td.text-right #{reportData.total.pickedAgainst[team.abbreviation].wins}-#{reportData.total.pickedAgainst[team.abbreviation].losses}
