extends layout.pug

block title
	+title('Standings')

block content
	table.table.table-sm
		tr
			th
			th.text-center.text-muted Record
			th.text-center.text-muted Maximum
			th.text-center.text-muted Minimum
			th.text-center Points
		each standing in standings
			tr
				td.text-right #{standing.user.displayName}
				td.text-center.text-muted #{standing.record.wins}-#{standing.record.losses}
				td.text-center.text-muted #{standing.score.potential.maximum}
				td.text-center.text-muted #{standing.score.potential.minimum}
				td.text-center #{standing.score.final}
