extends ../layout.pug

block title
	+title('Picks')

block content
	h4.text-center #{team.name}

	table.table.table-sm
		tr
			th

			each i in [1, 2, 3, 4, 5, 6, 7]
				th.text-nowrap.text-center
					span.d-none.d-md-inline Game #{i}
					span.d-md-none G#{i}

		each user in users
			tr
				th.team.text-nowrap.text-right.py-2
					a(href='/picks/' + user.username)
						span.team-name #{user.displayName}
					br
					span.record
						+record(user.classic)

				if user.classic
					each i in [0, 1, 2, 3, 4, 5, 6]
						td.classic-game.text-center.align-middle
							if user.classic.picks[i]
								- var game = user.classic.picks[i];
								a(href='/schedule/' + dateFormat(game.date, 'yyyy-mm-dd', true) + '#game-' + game._id)
									if !game.isFinal()
										| #{game.opponent.team.abbreviation}
										if game.hasDefinitelyStarted()
											span.result.text-nowrap
												br
												+scoreRelativeToTeam(game, team)
									else
										if !game.opponent.winner
											strong.text-success #{game.opponent.team.abbreviation}
											br
											span.result.text-success.text-nowrap
												| W
												|
												+scoreRelativeToTeam(game, team)
										else
											strike.text-danger #{game.opponent.team.abbreviation}
											br
											span.result.text-danger.text-nowrap
												| L
												|
												+scoreRelativeToTeam(game, team)
							else if user.classic.isFinal()
								span.text-muted --
